*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

.sect-poken-api{
    margin: auto;
    background-color: #3B020D;
    padding: 20px;
}

.div-ver-pokemon .div-hablidades{
    border: none;
    margin: 0;
}

.pantalla-poken{
    background-color: #DD082F;
    border-radius: 10px;
    border: 2px solid;
}

.div-ver-pokemon{
    border: 10px solid #B0B0B0;
    border-radius: 10px;
    margin: auto;
    min-height: 300px;
}



.div-formulario .pokemonName{
    background-color: #EABB02;
}

.col{
    margin: 10px;
}

.div-formulario .btn{
    background-color: #972727;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 60%;
    border: 1px solid;
}

.div-formulario{
    margin: 10px 0;
}

.div-movimientos{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "textMovi textMovi";
    max-height: 400px;
    padding: 10px;
    overflow-y: scroll;
}

.text-movimientos{
    grid-area: textMovi;
}

.div-estadisticas{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "textEsta textEsta";
    max-height: 400px;
    padding: 10px;
    overflow-y: scroll;
}

.text-estadisticas{
    grid-area: textEsta;
}

.fa-circle{
    font-size: x-large;
}

.icon-circulares{
    padding: 20px 10px;
}

.icon-circulares i{
    margin-left: 10px;
}

.circle-ovalado{
    padding: 0 10px;
}

.circle-1{
    color: #01FBFB;
    font-size: 3.5rem;
}
.circle-2{
    color: red;
}
.circle-3{
    color: yellow;
}
.circle-4{
    color: green;
}

.circle-minus{
    color: #519AFB;
    font-size: 3rem;
}

.minus-1{
    color: #2FF901;
    font-size: 6rem;
}

.minus-2{
    color: #EABB02;
    font-size: 6rem;
}

.error{
    background-repeat: no-repeat;
    background-image: url(./img/error.jpg);
    background-size:cover;
}

.inicioPag{
    background-image: url(./img/noHaySeñal.png);
}

.cargaPag{
    background-image: url(./img/fondoPoken.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.spinerOculto div{
    display: none;
}

.div-spinner{
    position: absolute;
    top: 40%;
    left: 50%;
}

h4{
    color: purple;
    font-family: cursive;
}