*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    font-weight: bold;
}

.sect-poken-api{
    margin: auto;
    background-color: #3B020D;
    padding: 10px;
}

.div-ver-pokemon .div-hablidades{
    border: none;
    margin: 0;
}

.pantalla-poken{
    background-color: #DD082F;
    border-radius: 10px;
    border: 2px solid;
}

.div-ver-pokemon{
    border: 10px solid #B0B0B0;
    border-radius: 10px;
    margin: auto;
    min-height: 300px;
    max-height: 400px;
}



.div-formulario .pokemonName{
    background-color: #EABB02;
}

.col{
    margin: 10px;
}

.div-formulario .btn{
    background-color: #972727;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 60%;
    border: 1px solid;
}

.div-formulario{
    margin: 10px 0;
}

.div-movimientos{
    max-height: 400px;
    overflow-y: scroll;
}

.div-movimientos{
    display: flex;
    flex-direction: column;
}

.div-estadisticas{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    padding: 10px;
    margin: 0 20px;
}

.fa-circle{
    font-size: x-large;
}

.icon-circulares{
    padding: 10px;
}

.icon-circulares i{
    margin-left: 10px;
}

.circle-ovalado{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
}

.circle-1{
    color: #01FBFB;
    font-size: 3.5rem;
}
.circle-2{
    color: red;
}
.circle-3{
    color: yellow;
}
.circle-4{
    color: green;
}

.circle-ovalado .btn{
    --bs-btn-padding-y: .25rem;
    --bs-btn-font-size: .75rem;
    --bs-btn-border-radius: 30px;
    --bs-btn-color: black;
    --bs-btn-hover-color: white ;
    --bs-btn-font-weight: bold;
}

.circle-ovalado .btn-success{
    width: 7rem;
}

.error{
    background-repeat: no-repeat;
    background-image: url(./img/error.jpg);
    background-size: 100% 100%;
}

.inicioPag{
    background-image: url(./img/noHaySeñal.png);
}

.cargaPag{
    background-image: url(./img/fondoPoken2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.spinerOculto div{
    display: none;
}

.div-spinner{
    position: absolute;
    top: 40%;
    left: 50%;
}

h4{
    color: purple;
    font-family: cursive;
}

/* SCROLL DISEÑO */

.containers-scroll::-webkit-scrollbar{
    width: 7px;
}

.containers-scroll::-webkit-scrollbar-thumb{
    background-color: rgba(128, 0, 128, 0.445);
    border-radius: 5px;
    height: 50px;
}
/* ICONOS DE ESTADISTOCAS */

.hp-poken{
    list-style-image: url(./img/hp.png);
}

.attack-poken{
    list-style-image: url(./img/ataque.png)
}

.defense-poken{
    list-style-image: url(./img/defensa.png);
}

.special-attack-poken{
    list-style-image: url(./img/super-ataque.png);
}

.special-defense-poken{
    list-style-image: url(./img/super-defensa.png);
}

.speed-poken{
    list-style-image: url(./img/speed.png);
}

/* Lista de Ubicacion Pokemon */

.lista-area-poken{
    max-height: 400px;
    overflow-y: scroll;
}

/* Select */

.circle-ovalado .form-select{
    width:110px;
    height:50px;
    background-color: #519AFB;
    border: 0;
    border-radius: 100px;
}